@import url("https://fonts.googleapis.com/css2?family=The+Nautigal&family=Yellowtail&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* body {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/1/16/Nevado_Huascar%C3%A1n_%28south_view%29.jpg/800px-Nevado_Huascar%C3%A1n_%28south_view%29.jpg");
  object-fit: fill;
  background-repeat: no-repeat;
  background-size: 100rem; 
}*/

/*
.carrusel{
  display: flex;
  justify-content: center;
  align-items: center;
}
*/
section {
  width: 100vw;
  height: 500px;
}

section[id] {
  scroll-margin-top: 60px;
}

.home {
  margin-top: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.8);
}

.carousel {
  width: 100%;
  margin-top: 5px;
}

.carousel .btn-wrapper {
  display: flex;
  width: 100%;
  height: 300px;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  margin: auto;
}

#img-carousel {
  width: 100%;
  height: 300px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#forward {
  display: flex;
  justify-content: end;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 5px;
  color: rgba(0, 0, 0, 0.4);
  font-family: monospace;
  font-size: 30px;
  text-shadow: 2px 4px 6px 2px rgba(0, 0, 0, 0.3);
  background: transparent;
  border: none;
  cursor: pointer;
}
#forward:hover {
  font-size: 35px;
}
#back {
  display: flex;
  justify-content: start;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 5px;
  color: rgba(0, 0, 0, 0.4);
  font-family: monospace;
  font-size: 30px;
  text-shadow: 2px 4px 6px 2px rgba(0, 0, 0, 0.3);
  background: transparent;
  border: none;
  cursor: pointer;
}
#back:hover {
  font-size: 35px;
}

.live {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 200px;
  height: 150px;
}

h2 {
  font-family: "Dancing Script", cursive;
  margin-bottom: 10px;
  text-shadow: 2px 4px rgba(0, 0, 0, 0.1);
}

h4 {
  padding: 10px;
  font-family: "The Nautigal", cursive;
  font-size: 36px;
  margin-left: 20px;
  text-shadow: 2px 4px rgba(0, 0, 0, 0.1);
}

.live .youtube {
  width: 100px;
}

.live {
  display: flex;
  padding: 5px;
  justify-content: center;
  width: 100%;
}

footer {
  display: flex;
  width: 100%;
  height: 300px;
  background-color: crimson;
}

@media only screen and (min-width: 700px) {
  .carousel .btn-wrapper {
    height: 600px;
  }

  #img-carousel {
    height: 600px;
  }
}

/* ----------------MAIN/BANNER------------------*/

/* -------------------FOOTER--------------------*/
